/* ========================================================================== */

:root {
    --border-color: #F4F4FD;
    --dark: #2E2F42;
    --blue: #4D5AE5;
    --white: #FFFFFF;
    --darkblue-hover: #404BBF;
    --grey: #434455;
    --light-grey: #E7E9FC;
    --border: #8E8F99;
    --green: #31D0AA;
    --modal: #FCFCFC;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    margin: 0;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
}

ul {
    padding-left: 0;
    /* Сдвигаем список влево */
}

a,
a:visited,
a:link {
    text-decoration: none;
}

.section {
    padding: 120px 0;
    text-align: center
}

.section-hero {
    padding-top: 120px;
    text-align: center;
}

.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
    text-align: center
}

body {
    font-family: 'Roboto', Sans-serif;
    background-color: var(--white);
    margin: 0;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header-logo {
    font-family: 'Raleway', Sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark);
    margin-right: 72px;
}

.footer-logo {
    text-decoration: none;
    font-family: 'Raleway', Sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--border-color);
    margin-bottom: 16px;
    display: block;
}

.header-text-web,
.footer-text-web {
    color: var(--blue);
}

.header-menu {
    position: relative;
    color: var(--dark);
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', Sans-serif;
    padding-top: 24px;
    padding-bottom: 28px;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu.current {
    color: var(--darkblue-hover);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    border-radius: 2px;
    display: block;
    background-color: var(--darkblue-hover);
    box-sizing: border-box;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu:hover,
.header-menu:focus,
.header-menu:active {
    color: var(--darkblue-hover);
}

.current:hover,
.current:focus {
    color: var(--darkblue-hover);
}

.header-element.current {
    color: var(--darkblue-hover);
}

.menu-list {
    display: flex;
    gap: 40px;
}

.contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: auto;
}

.contacts {
    letter-spacing: 0.02em;
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
    color: var(--darkblue-hover);
}

.footer-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--light-grey);
    max-width: 264px;
}

.footer-soc-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon:hover,
.footer-soc-icon:focus {
    background-color: var(--green);
}

.social-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--white);
    margin: 0;
}

.footer {
    background: var(--dark);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer>.container {
    display: flex;
}

.hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--white);
    width: 494px;
    margin: 0 auto;
    text-align: center;
    font-style: normal;
}

.socials {
    margin-right: 120px;
}

.hero-background {
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    position: relative;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
}

.our-team {
    background: var(--border-color);
    padding-bottom: 110px;
}

.button-order {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: var(--white);
    background: var(--blue);
    cursor: pointer;
    font-family: 'Roboto', Sans-serif;
    padding: 16px 32px;
    border-radius: 4px;
    margin-top: 48px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-width: 0;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
    background-color: var(--darkblue-hover);
}

.container-title {
    text-align: start;
    font-family: 'Roboto', Sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 8px;
    margin-top: 8px;
}

.portfolio-title {
    text-align: start;
    font-family: 'Roboto', Sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 8px;
    margin-top: 0;
}

.container-text {
    text-align: start;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--grey);
    margin: 0;
}

.portfolio-text {
    text-align: start;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--grey);
    margin: 0;
}

.container-underhero {
    width: calc((100% - 72px)/4);
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 264px;
    height: 224px;
}

.underhero-icon {
    height: 112px;
    background-color: var(--border-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-text {
    font-family: 'Roboto', Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
    margin-top: 0px;
}

.topic-text {
    font-family: 'Roboto', Sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 8px;
    margin-top: 0;
}

.article {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--grey);
    text-align: center;
    margin: 0;
}

.workers-block {
    padding: 32px 16px;
}

.button-filter {
    cursor: pointer;
    background-color: var(--border-color);
    border: 1px solid var(--light-grey);
    border-radius: 4px;
    color: var(--blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', Sans-serif;
    padding: 12px 24px;
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover,
.button-filter:active,
.button-filter:focus {
    background-color: var(--blue);
    color: var(--white);
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio-photo {
    background: var(--white);
    flex-basis: auto;
    width: calc((100% - 48px) / 3);
}

.project-text-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-link {
    display: block;
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .project-text-box,
.portfolio-link:focus .project-text-box {
    transform: translateY(0%);
}

.portfolio-link:hover .project-text,
.portfolio-link:focus .project-text {
    transform: translateY(0%);
}

.project-text-box {
    position: absolute;
    width: 360px;
    height: 300px;
    left: 0px;
    top: 0px;
    background-color: var(--blue);
    background-blend-mode: soft-light;
    mix-blend-mode: normal;
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
}

.project-text {
    position: absolute;
    width: 296px;
    height: 100%;
    left: 32px;
    top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--border-color);
    transform: translateY(100%);
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
    overflow: hidden;
    text-align: left;
}

.portfolio-item {
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-block {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-bottom: 1px solid var(--light-grey);
    border-left: 1px solid var(--light-grey);
    border-right: 1px solid var(--light-grey);
}

.photo-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
    margin-left: 144px;
    margin-right: 144px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.workers-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.images-block {
    background-color: var(--white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) /4);
}

.header {
    border-bottom: 1px solid var(--light-grey);
}

.header-wrap {
    display: flex;
    align-items: center;
}

.contacts {
    display: flex;
}

.photos {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.photo {
    width: calc((100% - 48px) / 3);
    box-sizing: border-box;
}

.portfolio-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 72px;
    justify-content: center;
    gap: 24px;
}

.container-achivments {
    display: flex;
    gap: 24px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social:hover,
.social:focus {
    background-color: var(--darkblue-hover);
}

.social-all {
    display: flex;
    gap: 24px;
    margin-top: 8px;
    flex-wrap: wrap;
}

.socialicon {
    width: 16px;
    height: 16px;
    fill: var(--white);
}

.socialicon-underhero {
    width: 64px;
    height: 64px;
}

.socialfooter-all {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.soc {
    margin-right: 80px;
}

.section-customers {
    padding-top: 130px;
    padding-bottom: 120px;
    text-align: center;
}

.section-text-customers {
    margin: 0;
    font-family: 'Roboto', Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
}

.box-footer {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.sm {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--white);
    margin-bottom: 16px;
    margin-top: 0;
}

.sub-wrap {
    display: flex;
}

.footer-input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    /* max-width: 264px; */
    font-weight: 400;
    font-size: 12px;
    height: 40px;
    padding: 8px 16px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline-color: unset;
    color: var(--border-color);
    transition-property: border-color, outline-style;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
    position: absolute;
    display: flex;
    align-items: center;
    width: 36px;
    height: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    text-overflow: ellipsis;
}


/* input:placeholder-shown {
    border-color: teal;
    color: purple;
    font-style: italic;
} */

.footer-input:focus,
.footer-input:hover {
    border-color: var(--blue);
    outline-style: none;
}

.sub-btn {
    background-color: var(--blue);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--white);
    height: 40px;
    max-width: 165px;
    border-radius: 4px;
}

.icon-subscribe {
    margin-left: 16px;
}


/* ================ modal =============== */

.box-element {
    box-sizing: border-box;
    border: 1px solid var(--border);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    fill: var(--border);
    background-color: #FFFFFF;
    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box-element:hover,
.box-element:focus {
    fill: var(--darkblue-hover);
    border-color: var(--darkblue-hover);
}

.icon {
    width: 104px;
    height: 56px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover,
.icon:focus {
    fill: var(--darkblue-hover);
}

.socialicon-footer {
    width: 24px;
    height: 24px;
    fill: var(--grey);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.btn-close {
    position: absolute;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    background-color: var(--light-grey);
    fill: var(--dark);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    right: 24px;
    top: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:focus,
.btn-close:hover {
    background-color: var(--darkblue-hover);
    fill: var(--white);
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 20;
    visibility: visible;
}

.modal {
    display: flex;
    position: sticky;
    width: 408px;
    height: 584px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-top: 72px;
    margin: auto;
    left: 516px;
    top: 88px;
    background-color: var(--modal);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: scale(1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    display: inline-block;
    position: absolute;
    width: 360px;
    height: 24px;
    margin-bottom: 16px;
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-top: 38px;
    position: absolute;
    width: 360px;
    height: 336px;
    border-radius: 4px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.modal-input {
    width: 360px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    padding: 11px 38px;
    outline-color: unset;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: unset
}

.modal-input:focus,
.modal-input:hover {
    /* border-color: var(--blue); */
    border: 1px solid var(--blue);
}

.modal-input:focus+.modal-icon,
.modal-input:hover+.modal-icon {
    fill: var(--blue);
}

.modal-check-icon {
    fill: var(--modal);
    cursor: pointer;
}

.modal-input::placeholder {
    position: absolute;
    width: 57px;
    height: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.input-wrap {
    position: relative;
    width: 360px;
    height: 40px;
}

.form-agree {
    margin-bottom: 24px;
}

.modal-icon {
    position: absolute;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
}

.form-group>.modal-input {
    padding: 12px 16px;
}

.comment>.modal-input {
    height: 120px;
}

.checkbox {
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--dark);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.checkbox-input {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--dark);
    border-radius: 2px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.checkbox-input:checked+.checkbox {
    background-color: var(--darkblue-hover);
    fill: var(--border-color);
    padding: 4px 3px;
    border: none;
}

.text-agree {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    align-items: center;
    padding: 0px;
    order: 1;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: #757575;
    align-items: center;
}

.agree-text {
    padding-left: 8px;
}

.agree-text>a {
    color: var(--blue);
    text-decoration: underline
}

.modal-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    padding: 16px 32px;
    min-height: 56px;
    min-width: 169px;
    color: var(--white);
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.04em;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
    background-color: var(--darkblue-hover);
}

.form-group-text {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.3;
    color: var(--border);
    height: 14px;
}

.form-label {
    height: 14px;
    margin-bottom: 4px;
}